.upformbody{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:white;
    font-family: "lato",sans-serif;
}
.sinupform{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.form{
    position: absolute;
    top:50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    /*above code is to keep the form at the center of page */
    background-color:rgb(184, 180, 180) ;
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
    /* background-color: yellowgreen; */
}
.inputcontainer {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
  }
  .input {
    border-radius: 20px;
    font-size: medium;
    height: 100%;
    width: 80%;
    border: 1px solid #DADCE0;
  }
 
.title{
    font-size: 50px;
    margin-bottom: 50px;
}
.submitBtn {
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    /* background-color: purple; */
    background-color: #ec5f06;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
  }
  
  .submitBtn:hover {
    background-color: #5e06b6;
    transform: translateY(-2px);
  }


.inside p{
    font: bold;
    font-size: 30px;
}
.indexbutton:hover{
    background-color: cornsilk;
}
.input:focus + .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: purple;
  }
  .input:focus {
    border: 2px solid purple;
  }
  .input:not(:placeholder-shown)+ .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
  }
.error-mess{ 
    
    color: red;
}

.content-table{
    margin: 25px 0;
    font-size:0.9em ;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.15);
    
}
.content-table thead tr{
    background-color: #009879;
    color: white;
    text-align: left;
    font-weight: bold;
}
.content-table th,.content-table td{
    padding: 12px 15px;
}
.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
}

    .content-table tbody tr:nth-of-type(even){
        font-weight: bold;
        color: #009879;
        background-color: #add8e6;
    }
    .content-table tbody tr:nth-of-type(odd){
        background-color: white;
        
    }
    .content-table tbody tr:last-of-type{
        
        border-bottom: 2px solid #009879;
    }

    .wrapper{
        position: relative;
        height: 100vh;
        overflow: hidden;
    }
    header{
        padding: 50px 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
   ul{
    padding-left: 700px;

}
    header ul li{

        list-style: none;
        display: inline-block;
        margin: 0 15px;
    }
    header ul li a{
        color: #aba9b4;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1px;
        transition: all ease 0.5s;
    }
    header ul li a:hover{
        color: #f09053;
    }
header ul li a:hover{
  color: #f09053;
}
.logout{
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    width: 180px;
    height: 60px;
    line-height: 60px;
    background-color: #07f3b8;
    color: #fff;
    text-align: center;
    font-size: 18px;
    border-radius: 50px;
    transition: all ease 0.5s;
}
.logoutu{
    display: inline-block; color: #f09053;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    width: 180px;
        height: 60px;
        line-height: 60px;
        background-color: red;
        color: #fff;
        text-align: center;
        font-size: 18px;
        border-radius: 50px;
        transition: all ease 0.5s;
}
.logout:hover,.logoutu:hover{ background-color: #f09053;
    cursor: pointer;}
header ul li a.btn{
  display: inline-block;
        width: 180px;
        height: 60px;
        line-height: 60px;
        background-color: #f09053;
        color: #fff;
        text-align: center;
        font-size: 18px;
        border-radius: 50px;
        transition: all ease 0.5s;
    }
    header ul li a.btn:hover{
        background-color: #615c59;
    }
    .wave{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        line-height: 0;
        z-index: -1;                                   /* to take the image to background */
    }
    
    .content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 50px 100px 0;
        width: 600px;
    }
    .contenth{
        width: 40%;
         height: auto; 
         padding-bottom: 50px;
        /* display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 50px 100px 0; */
        
        
    }
    .content h,.contenth h{
      font-size: 40px;
      color: white;
    }
    .indextext{
      padding-top: 20px ;
      color: white;
      font-size: 20px;
    }