.upformbody{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:white;
    font-family: "lato",sans-serif;
}
.sinupform{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.form{
    background-color:grey ;
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
    /* background-color: yellowgreen; */
}
.inputcontainer {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
  }
  .input {
    border-radius: 20px;
    font-size: medium;
    height: 100%;
    width: 80%;
    border: 1px solid #DADCE0;
  }
 
.title{
    font-size: 50px;
    margin-bottom: 50px;
}
.submitBtn {
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: purple;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
  }
  
  .submitBtn:hover {
    background-color: #9867C5;
    transform: translateY(-2px);
  }

.inside{
    background-color:grey ;
}
.inside p{
    font: bold;
    font-size: 30px;
}
.indexbutton:hover{
    background-color: cornsilk;
}
.input:focus + .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: purple;
  }
  .input:focus {
    border: 2px solid purple;
  }
  .input:not(:placeholder-shown)+ .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
  }
.error-mess{ 
    font-weight: bold;
    color: red;
}

.content-table{
    margin: 25px 0;
    font-size:0.9em ;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.15);
    
}
.content-table thead tr{
    background-color: #009879;
    color: white;
    text-align: left;
    font-weight: bold;
}
.content-table th,.content-table td{
    padding: 12px 15px;
}
.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
}

    .content-table tbody tr:nth-of-type(even){
        font-weight: bold;
        color: #009879;
        background-color: #add8e6;
    }
    .content-table tbody tr:nth-of-type(odd){
        background-color: white;
        
    }
    .content-table tbody tr:last-of-type{
        
        border-bottom: 2px solid #009879;
    }