<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script src="{% static 'frontend.js'%}"></script>
</head>
                                                    
<body class="upformbody">
    <div class="sinupform">
    <form action="/signu" method="post" class="form" onsubmit="return checkpwd()" >
        {% csrf_token %}
        <h1 class="title">signup form</h1>
        <div class="inputcontainer">   
        <input type="text" class="input" id="username" name="username" {%if username %} value="{{username}}" {%else%} placeholder="Enter username" {%endif%}  required>   
        <!-- <label class="label">Username</label>     -->
        </div>
        <div class="inputcontainer">
        <input type="text" id="firstname" class="input" name="firstname"  {%if firstname %} value="{{firstname}}" {%else%} placeholder="Enter firstname" {%endif%} required>
        <!-- <label class="label">firstname</label> -->
        </div>
        <div class="inputcontainer">
        <input type="text" id="lastname" name="lastname" class="input" {%if lastname %} value="{{lastname}}" {%else%} placeholder="Enter lastname" {%endif%} required>
        <!-- <label class="label">lastname</label> -->
        </div>
        <div class="inputcontainer">
        <input type="email" id="email" class="input" name="email"   {%if email %} value="{{email}}" {%else%} placeholder="Enter Email" {%endif%}  required>
        <!-- <label class="label">email</label>     -->
        </div>    
        <div class="inputcontainer">
        <input type="password" id="password1" class="input" name="password1" placeholder="Enter password" required>
        <!-- <label class="label">Password</label> -->
        <span ><i class="far fa-eye" id="togglePassword1" style="position: relative; left: -40px;" onclick="toggle(id)"></i></span>
        </div>
        <div class="inputcontainer">
        <input type="password" id="password2" class="input" name="password2" placeholder="Re-enter password" required>
        <!-- <label class="label">confirm password</label> -->
        <span ><i class="far fa-eye" id="togglePassword2" style="position: relative; left: -40px;" onclick="toggle(id)"></i></span>
        </div>
        <button onclick="return checkpwd()" class="submitBtn">submit</button>
        {%for message in messages %}
        <p class="error-mess" style="position: relative; top: -50px;">{{message}}</p>
        {%endfor%}
        <span  id="error-mess" style="position: relative; top: -50px;" class="error-mess"></span>
        <p>already have an account? <a href="signi">signin</a> </p>
    </form>
    </div>    

</body>
</html>
